body {
    font-family: $primary-font;
    background-color: $third-color ;
    color: $text-light ;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
}
.container {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.button {
    cursor: pointer;
    padding: 0 15px;
    font-weight: 800;
    font-size: 14px;
    color: $primary-color;
    text-transform: uppercase;
    font-family: $secondary-font;
    height: 50px;
    letter-spacing: .12em;
    line-height: 45px;
    background-color: transparent;
    border: 2px solid $primary-color;
    &:hover {
        transition: all .3s ease;
        background-color: $primary-color;
        color: $third-color;
    }
}
.learnmore {
    display: flex;
    cursor: pointer;
    align-items: center;
        color: $primary-color;
    p {
        font-size: 14px;
        line-height: 24px;
        color: $primary-color;
        font-weight: 700;
        margin-right: 5px;
    }
    &:hover {
        text-decoration: none;
        color: $primary-color;
        opacity: .7 ;
    }
}
.page {
    &__sub-heading {
        text-align: center;
        font-size: 14px;
        color: $primary-color;
        font-family: $secondary-font;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.12em;
    }
    &__heading {
        text-align: center;
        margin-bottom: 11px;
        font-size: 35px;
        line-height: 45px;
        color: $text-light;
        font-weight: 700;
    }
    &__desc {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        color: $text-light;
        margin-bottom: 20px;
        font-family: $secondary-font;
        margin-bottom: 15px;
    }
}

.p-section {
    padding: 120px 0;
}